In [1]:
import pandas as pd
import numpy as np
from surprise import SVD
from sklearn.metricsimport accuracy_scorefrom surprise.model_selection import train_test_split
from surprise import KNNBasic,  KNNWithMeans, KNNBaseline,KNNWithZScore
from surprise.model_selection import KFold
from surprise import SlopeOne, CoClustering
from surprise import SVD, SVDpp, NMF
from surprise import Reader
from surprise import NormalPredictor
from surprise.model_selection import cross_validate
import matplotlib.pyplot as plt
import seaborn as sns
from surprise.model_selection import GridSearchCV
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import KNNBasic,  KNNWithMeans, KNNBaseline,KNNWithZScore
from surprise.model_selection import KFold
from surprise import SlopeOne, CoClustering
from surprise import SVD, SVDpp, NMF
from surprise import Reader
from surprise import NormalPredictor
from surprise.model_selection import cross_validate
import matplotlib.pyplot as plt
import seaborn as sns
from surprise.model_selection import GridSearchCV
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
user_reviews = pd.read_csv('C:\\Users\\Administrator\\movie_reviews\\user_reviews.csv')
user_reviews.head()

,Unnamed: 0,User,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,0,Vincent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Edgar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Addilyn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Marlee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Javier,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
user_reviews['userID'] = range (0,user_reviews.shape[0])

In [5]:
# pd.DataFrame(user_reviews.iloc[1][user_reviews.iloc[1]!=0].values, columns = ['rating']).iloc[2:-1]

In [6]:
# len(user_reviews.iloc[1][user_reviews.iloc[1]!=0].values)

In [7]:
moviesNames = list(user_reviews.columns[2:-2])
moviesID = range (0, len(moviesNames))
moviesNamesID = pd.DataFrame(moviesID, columns = ['ID'])
moviesNamesID['variable'] = moviesNames
moviesNamesID.head()

   ID              variable
0   0               The Net
1   1  Happily N'Ever After
2   2          Tomorrowland
3   3         American Hero
4   4              Das Boot

In [8]:
# user_reviews['The Net'].sum()

In [9]:
# (user_reviews[moviesNames].sum(axis=0)).values

In [10]:
# len(list(user_reviews.columns[2:]))

In [11]:
movie_genres = pd.read_csv('C:\\Users\\Administrator\\movie_reviews\\movie_genres.csv')
movie_genres.head()

,Unnamed: 0,movie_title,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,0,The Net,1,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
1,1,Happily N'Ever After,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Tomorrowland,1,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,3,American Hero,1,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,4,Das Boot,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0

In [12]:
moviesProperties = pd.DataFrame((user_reviews != 0).sum(), columns = ['Ratings Count']).iloc[2:]
moviesProperties.head()

                      Ratings Count
The Net                          14
Happily N'Ever After             10
Tomorrowland                     11
American Hero                    10
Das Boot                         11

In [13]:
# moviesProperties['Sum of ratings'] = (user_reviews[moviesNames].sum(axis=0)).values
# moviesProperties.head()

average rating = Sum of ratings/Ratings Count

In [14]:
# moviesProperties['Average rating'] = (moviesProperties['Sum of ratings']/ moviesProperties['Ratings Count']).round(1)
# moviesProperties.head()

In [15]:
# moviesProperties['MovieID'] =  range(0, 2000)
# moviesProperties.head()

In [16]:
# pd.DataFrame(user_reviews.iloc[1][user_reviews.iloc[1]!=0].values, columns = ['rating']).iloc[2:-1]

In [17]:
# user_reviews[user_reviews.userID == 1].sum(axis=0)

In [18]:
# user_reviews[user_reviews.userID == 1]

In [19]:
# user_reviews[user_reviews.userID == 1].any(0)[user_reviews[user_reviews.userID == 1].any(0).values == True].keys()[2:-1]

In [20]:
# userMovieList = list(user_reviews[user_reviews.userID == 1].any(0)[user_reviews[user_reviews.userID == 1].any(0).values == True].keys()[2:-1])
# user_reviews[user_reviews.userID == 1]

In [21]:
# user_reviews[user_reviews.userID == 1][list(userMovieList)]

In [22]:
# user_reviews[user_reviews.userID == 1][list(userMovieList)].melt()

In [23]:
# moviesRatings = user_reviews[user_reviews.userID == 1][list(userMovieList)].melt()
# moviesRatings['userID'] = [1]* moviesRatings.shape[0]
# moviesRatings

In [24]:
userMovieList = list(user_reviews[user_reviews.userID == 0].any(0)[user_reviews[user_reviews.userID == 0].any(0).values == True].keys()[2:-1])
moviesRatings = user_reviews[user_reviews.userID == 0][list(userMovieList)].melt()
moviesRatings['userID'] = [0]* moviesRatings.shape[0]
for i in range (1,user_reviews.shape[0]):
    userMovieListTemp = list(user_reviews[user_reviews.userID == i].any(0)[user_reviews[user_reviews.userID == i].any(0).values == True].keys()[2:-1])
    moviesRatingsTemp = user_reviews[user_reviews.userID == i][list(userMovieListTemp)].melt()
    moviesRatingsTemp['userID'] = [i]* moviesRatingsTemp.shape[0]
    moviesRatings = moviesRatings.append(moviesRatingsTemp)

In [25]:
moviesRatings = moviesRatings.reset_index()
moviesRatings = moviesRatings[['userID','value','variable']]
moviesRatings = pd.merge(moviesRatings,user_reviews[['User','userID']],how="inner",
    on='userID' )

In [26]:
moviesRatings.head()

   userID  value                         variable     User
0       0    3.0                        Shattered  Vincent
1       0    3.0                    Passchendaele  Vincent
2       0    3.0                     Broken Arrow  Vincent
3       0    4.0                      Songcatcher  Vincent
4       0    5.0  The Importance of Being Earnest  Vincent

In [27]:
moviesRatings.tail()

       userID  value           variable   User
16518     599    4.0       The Bank Job  Sarai
16519     599    4.0     The Stepfather  Sarai
16520     599    2.0          Good Kill  Sarai
16521     599    2.0         Sugar Hill  Sarai
16522     599    3.0  Waking Ned Devine  Sarai

In [28]:
# from surprise import SVD
# from surprise import Dataset
# from surprise.model_selection import evaluate

data = moviesRatings


svd = SVD()

# evaluate(svd, data, measures=['RMSE', 'MAE'])

In [29]:
data.head()

   userID  value                         variable     User
0       0    3.0                        Shattered  Vincent
1       0    3.0                    Passchendaele  Vincent
2       0    3.0                     Broken Arrow  Vincent
3       0    4.0                      Songcatcher  Vincent
4       0    5.0  The Importance of Being Earnest  Vincent

In [30]:
data = pd.merge(
    data,
    moviesNamesID,
    how="inner",
    on='variable')
data = data.rename(columns={'value': 'rating','variable': 'movie name','ID': 'movie ID','User': 'userName'})
data.head()

   userID  rating movie name  userName  movie ID
0       0     3.0  Shattered   Vincent       141
1      17     5.0  Shattered     Emely       141
2      83     3.0  Shattered       Ava       141
3     179     4.0  Shattered  Scarlett       141
4     234     2.0  Shattered     Raven       141

In [35]:
reader = Reader(rating_scale=(1, 5))

data = data[['userID','userName','rating','movie ID','movie name']]
dataRead = Dataset.load_from_df(data[['userID', 'movie ID', 'rating']], reader)

In [36]:
anti_set = dataRead.build_full_trainset().build_anti_testset()

In [37]:
anti_set[:5]

[(0, 57, 3.433969118982743),
 (0, 121, 3.433969118982743),
 (0, 147, 3.433969118982743),
 (0, 163, 3.433969118982743),
 (0, 168, 3.433969118982743)]

In [38]:
data.head()

   userID  userName  rating  movie ID movie name
0       0   Vincent     3.0       141  Shattered
1      17     Emely     5.0       141  Shattered
2      83       Ava     3.0       141  Shattered
3     179  Scarlett     4.0       141  Shattered
4     234     Raven     2.0       141  Shattered

In [39]:
movies = data[['movie ID' , 'movie name']].drop_duplicates(['movie ID' , 'movie name'])
users = data[['userID' , 'userName']].drop_duplicates(['userID' , 'userName'])

# Basic K-NN

In [40]:
kf = KFold(n_splits=3)
algo = KNNBasic()
best_algo = None
best_rmse = 1000.0
best_pred = None
for trainset, testset in kf.split(dataRead):
    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)
    # Compute and print Root Mean Squared Error
    rmse = accuracy.rmse(predictions, verbose=True)
    if rmse < best_rmse:
        best_algo = algo
        best_pred = predictions

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.4174
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.4109
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.4231

In [41]:
best_pred[:5]

[Prediction(uid=144, iid=802, r_ui=1.0, est=2.0, details={'actual_k': 1, 'was_impossible': False}),
 Prediction(uid=434, iid=333, r_ui=2.0, est=3.0, details={'actual_k': 2, 'was_impossible': False}),
 Prediction(uid=311, iid=1681, r_ui=4.0, est=2.0, details={'actual_k': 3, 'was_impossible': False}),
 Prediction(uid=380, iid=1278, r_ui=2.0, est=3.4380563124432335, details={'was_impossible': True, 'reason': 'Not enough neighbors.'}),
 Prediction(uid=291, iid=462, r_ui=5.0, est=3.4380563124432335, details={'was_impossible': True, 'reason': 'Not enough neighbors.'})]

# K-NN with means

In [42]:
kf = KFold(n_splits=5)
sim_options = {'name':'cosine'}
algo = KNNWithMeans(sim_options = sim_options)
best_algo = None
best_rmse = 1000.0
best_pred = None
for trainset, testset in kf.split(dataRead):
    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)
    # Compute and print Root Mean Squared Error
    rmse = accuracy.rmse(predictions, verbose=True)
    if rmse < best_rmse:
        best_algo = algo
        best_rmse= rmse
        best_pred = predictions
print(best_rmse)

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.3585
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.3514
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.3472
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.3478
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.3572
1.3471953909365961

In [43]:
pred_df = pd.DataFrame(best_pred).merge(data , left_on = ['uid', 'iid'], right_on = ['userID', 'movie ID'])
pred_df[['uid', 'iid',  'userName', 'userID', 'movie name', 'movie ID', 'est','rating']]

,uid,iid,userName,userID,movie name,movie ID,est,rating
0,105,1811,Sawyer,105,Alice in Wonderland,1811,3.089803,4.0
1,507,1256,Theodore,507,Back to the Future Part II,1256,2.888889,4.0
2,356,1168,Heaven,356,Warrior,1168,4.149351,2.0
3,517,186,Daniel,517,George and the Dragon,186,3.447542,3.0
4,226,1197,Cora,226,Eye of the Dolphin,1197,3.867778,3.0
...,...,...,...,...,...,...,...,...
3298,443,515,Leonel,443,Atlas Shrugged II: The Strike,515,2.968651,3.0
3299,0,1873,Vincent,0,Next Day Air,1873,3.040000,3.0
3300,457,1841,Carolina,457,The Spiderwick Chronicles,1841,3.022222,2.0
3301,348,525,Emmett,348,The Shawshank Redemption,525,2.929952,2.0
3302,399,641,Landen,399,It's a Wonderful Afterlife,641,3.654934,5.0

In [44]:
anti_pre = best_algo.test(anti_set)
pred_df = pd.DataFrame(anti_pre).merge(movies , left_on = ['iid'], right_on = ['movie ID'])
pred_df = pd.DataFrame(pred_df).merge(users , left_on = ['uid'], right_on = ['userID'])

In [45]:
pred_df.head()

,uid,iid,r_ui,est,details,movie ID,movie name,userID,userName
0,0,57,3.433969,4.379021,"{'actual_k': 2, 'was_impossible': False}",57,Nine Queens,0,Vincent
1,0,121,3.433969,4.955357,"{'actual_k': 1, 'was_impossible': False}",121,Perfume: The Story of a Murderer,0,Vincent
2,0,147,3.433969,2.582341,"{'actual_k': 2, 'was_impossible': False}",147,The Lovely Bones,0,Vincent
3,0,163,3.433969,4.186474,"{'actual_k': 2, 'was_impossible': False}",163,Ordinary People,0,Vincent
4,0,168,3.433969,4.701389,"{'actual_k': 1, 'was_impossible': False}",168,Van Wilder: Party Liaison,0,Vincent

# finding Recommendations for a user

# Movies prediction for Vincent

In [46]:
Vincent = pred_df[(pred_df['est']>3.0)&(pred_df['userID']==0)].sort_values(by='est', ascending=False).iloc[:5]

In [47]:
Vincent = Vincent[ ~Vincent['movie name'].isin(list(user_reviews[user_reviews.userID == 0].any(0)[user_reviews[user_reviews.userID == 0].any(0).values == True].keys()[2:-1]))]

In [48]:
Vincent[(Vincent['est']>3.0)&(Vincent['userID']==0)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

965             Twisted
972         The Tempest
955              Krrish
959    The Longest Yard
324    Four Christmases
Name: movie name, dtype: object

In [49]:
Vincent[(Vincent['est']>3.0)&(Vincent['userID']==0)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

965             Twisted
972         The Tempest
955              Krrish
959    The Longest Yard
324    Four Christmases
Name: movie name, dtype: object

# Movies prediction for Edgar

In [50]:
Edgar = pred_df[(pred_df['est']>3.0)&(pred_df['userID']==1)].sort_values(by='est', ascending=False).iloc[:5]

In [51]:
Edgar = Edgar[ ~Edgar['movie name'].isin(list(user_reviews[user_reviews.userID == 0].any(0)[user_reviews[user_reviews.userID == 0].any(0).values == True].keys()[2:-1]))]

In [52]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==1)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

1181636                              Dutch Kills
1182640                            Morning Glory
1182419    How to Lose Friends & Alienate People
1181287                                  Getaway
1181059                      Blast from the Past
Name: movie name, dtype: object

In [53]:
Edgar[(Edgar['est']>3.0)&(Edgar['userID']==1)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

1181636                              Dutch Kills
1182640                            Morning Glory
1182419    How to Lose Friends & Alienate People
1181287                                  Getaway
1181059                      Blast from the Past
Name: movie name, dtype: object

# Movies prediction for Addilyn

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==2)].sort_values(by='est', ascending=False).iloc[:5]

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==2)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

# Movies prediction for Marlee

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==3)].sort_values(by='est', ascending=False).iloc[:5]

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==3)].sort_values(by='est', ascending=False).iloc[:5]['movie name']

# Movies prediction for Javier

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==4)].sort_values(by='est', ascending=False).iloc[:5]

In [ ]:
pred_df[(pred_df['est']>3.0)&(pred_df['userID']==4)].sort_values(by='est', ascending=False).iloc[:5]['movie name']